@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var countries = (QuickType.Country[]) ViewData["Country"];
    List<TheModernIlluminati.Models.Count> random1 = (List<TheModernIlluminati.Models.Count>)ViewData["Countries"];
    List<TheModernIlluminati.Models.Laureate> laureate1 = (List<TheModernIlluminati.Models.Laureate>)ViewData["Laureates"];

}

<div class="text-center">
    <h1 class="display-4">Country</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Code</th>
        </tr>
        @{
            foreach (TheModernIlluminati.Models.Count coun in random1)
            {
                <tr>
                    <td>@coun.Name</td>
                    <td>@coun.Code</td>

                </tr>
            }
        }
    </table>

    <h1 class="display-4">Laureates</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Country</th>
        </tr>
        @{
            foreach (TheModernIlluminati.Models.Laureate laureate3 in laureate1)
            {
                <tr>
                    <td>@laureate3.Id</td>
                    <td>@laureate3.Firstname</td>
                    <td>@laureate3.Surname</td>
                    <td>@laureate3.BornCountryCode</td>

                </tr>
            }
        }
    </table>
</div>
