@page
@model TheModernIlluminati.Pages.SearchCountryModel
@{
    ViewData["Title"] = "SearchCountry";
    List<TheModernIlluminati.Models.Laureate>
      filteredLaureates = (List<TheModernIlluminati.Models.Laureate>
      )ViewData["filteredLaureate"];
}


<h1>Search by Country</h1>


<form action="" method="POST" style="margin-top: 50px;">
    <div class="row">
        <div class="form-group col-md-3">
            <label for="CountrySearch">Enter Country</label>
            <input type="string" class="form-control" name="CountrySearch" id="CountrySearch" />
        </div>
        <div class="form-group col-md-3">
            <label for="Category">Category</label>
            <select name="Category" class="form-control">
                <option value="none" selected>Select a Category</option>
                <option value="physics">Physics</option>
                <option value="chemistry">Chemistry</option>
                <option value="peace">Peace</option>
                <option value="medicine">Medicine</option>
                <option value="literature">Literature</option>
                <option value="economics">Economics</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="Year">Year</label>
            <input type="number" required class="form-control" name="Year">
        </div>
        <div class="form-group col-md-3 align-self-sm-end">
            <input class="btn btn-primary" id="submitButton" type="submit" value="Search Laureates">
        </div>
    </div>
</form>

@if (Model.searchFinished == true)
{
    <table class="table table-striped table-light">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Born City</th>
                <th>Date of Birth</th>
                <th>Birth Country</th>
                <th>Gender</th>
                <th>Year of Winning</th>
                <th>Category</th>
                <th>Share</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var laureate in filteredLaureates)
            {
                int i = 0;
                <tr>
                    <td>@laureate.Firstname</td>
                    <td>@laureate.Surname</td>
                    <td>@laureate.BornCity</td>
                    <td>@laureate.Born</td>
                    <td>@laureate.BornCountry</td>
                    <td>@laureate.Gender</td>

                    @foreach (var prizes in laureate.Prizes)
                    {
                        @if (i == 0)
                        {

                            <td>@prizes.Year</td>
                            <td>@prizes.Category</td>
                            <td>@prizes.Share</td>
                            i = i + 1;
                        }

                    }
                </tr>
            }


        </tbody>
    </table>
}
else
{
    <div class="alert-warning">
        No Data Found 
    </div>
}



